$primary: #014277;
$secondary: #905;
$success: #0077d8;
$danger: #98254a;
$muted: #aeafaf;

$code-color: #880000;
$code-bgcolor: #F0F0F0;
$footer-bgcolor: #32373c;


$menu-width: 220px;
$header-height: 60px;
$footer-height: 50px;