<ng-template #prefix>
    <label for="search">Search field</label>
    <br>
</ng-template>

<ngx-silly-datatable-search placeholder="Search..."
    inputId="search"
    inputClass="search-field"
    [prefix]="prefix"
    [suffix]="suffix"
    [disabled]="loading"></ngx-silly-datatable-search>

<ng-template #suffix>
    <br>
    <span>required</span>
</ng-template>

<hr>

<ngx-silly-datatable [settings]="settings"
    [columns]="columns"
    [source]="source"
    [tableParams]="tableParams"
    (rowClicked)="selected($event)"
    (rowDoubleClicked)="dblClickSelected($event)"
    (request)="request($event)"
    (componentCellEvent)="eventInCellComponent($event)">
</ngx-silly-datatable>

<hr>

<ngx-silly-datatable-paging [settings]="paginationSettings">
</ngx-silly-datatable-paging>

<hr>

<ngx-silly-datatable-filter [formFields]="filterFormFields"
    [settings]="filterSettings">
</ngx-silly-datatable-filter>

<ng-template #customInput
    let-filterFieldSettings="filterFieldSettings"
    let-formControl="formControl"
    let-touched="touched">
    <input [formControl]="formControl"
        [id]="filterFieldSettings.id"
        type="text"
        [ngClass]="filterFieldSettings.controlClass"
        [placeholder]="filterFieldSettings.placeholder"
        (blur)="touched()">
</ng-template>