<ng-template #prefix>
    <label for="search">Search field</label>
    <br>
</ng-template>

<ngx-silly-datatable-search
    placeholder="Search..."
    inputId="search"
    inputClass="search-field"
    [prefix]="prefix"
    [suffix]="suffix"
    [disabled]="loading"></ngx-silly-datatable-search>

<ng-template #suffix>
    <br>
    <span>required</span>
</ng-template>

<ngx-silly-datatable
    [settings]="settings"
    [columns]="columns"
    [source]="source"
    [tableParams]="tableParams"
    (rowClicked)="selected($event)"
    (request)="request($event)">
</ngx-silly-datatable>

<ngx-silly-datatable-paging
    [settings]="paginationSettings">
</ngx-silly-datatable-paging>
